<img class="headImage headImage1" src="./assets/images/mens_outerwear.jpg">
<p>Men's Outerwear</p>
<a routerLink="/list/mens_outerwear" aria-label="Men's Outerwear Shop Now">Shop Now</a>

<img class="headImage headImage2" src="./assets/images/ladies_outerwear.jpg">
<p>Ladies Outerwear</p>
<a routerLink="/list/ladies_outerwear" aria-label="Ladies Outerwear Shop Now">Shop Now</a>

<img class="headImage headImage3" src="./assets/images/mens_tshirts.jpg">
<p>Men's T-Shirts</p>
<a routerLink="/list/mens_tshirts" aria-label="Men's T-Shirts Shop Now">Shop Now</a>

<img class="headImage headImage4" src="./assets/images/ladies_tshirts.jpg">
<p>Ladies T-Shirts</p>
<a routerLink="/list/ladies_tshirts" aria-label="Ladies T-Shirts Shop Now">Shop Now</a>
